<div class="flex-col" style="height: 100%; width: 100%;">

  <div id="status">
    <div class="bigText">Subscription & Billing</div>
    <div id="status-detail">
      <div class="text detail">Next billing data: <span class="bolder"> {{ nextBillingDate | date: 'MMMM dd,yyyy'}} </span> </div>
      <div class="text detail">Service: <span class="bolder">{{ serviceType }} </span></div>
      <div class="text detail">Service provider: <span class="bolder">{{ serviceProvider }} </span> </div>
    </div>
  </div>

  <div id="history">
    <div class="text" style="height: 10%;">Previous payments</div>
    <div class="tablecontainer">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Date</th>
							<th>Service period</th>
							<th>Total</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor ="let payment of previousPayments">
              <td style="text-align:left"><span>{{payment.paidDate | date:'dd.MM.yy'}}</span></td>
              <td style="text-align:left"><span>{{payment.paidDate | date:'dd.MM.yy'}}-{{ payment.endDate | date:'dd.MM.yy'}}</span></td>
							<td style="text-align:left"><span> {{(payment.total).toFixed(2) | currency:'EUR':true}}</span></td>
						</tr>
					</tbody>
				</table>
			</div>
  </div>

  <div id="subscription">
    <div class="flex-row" style="width: 100%; height: 100%;">
      <div class="flex-col" style="width: 100%; height: 100%;">
        <button type="button" class="button bigText" (click)="onUnsubscriptionClick()">CANCEL SUBSCRIPTION</button>
      </div>
    </div>
  </div>

</div>