<div class="flex-col">
  <div class="login-form" style="padding-top: 40%">
    <form (submit)="onLoginSubmit()" class="form-signin">

      <div class="form-group">
        <label for="input-phone" class="sr-only">Phone</label>
        <input id="input-phone" type="phone" class="form-control" [(ngModel)]="phone" name="phone" placeholder="phone" required autofocus>
      </div>

      <div class="form-group">
        <label for="input-password" class="sr-only">Password</label>
        <input id="input-password" type="password" class="form-control" [(ngModel)]="password" name="password" placeholder="Password"
          required>
      </div>

      <div id="form-btn" class="flex-row">
        <div id="submit-btn" style="flex: 0 0 75%;">
          <input type="submit" class="btn btn-success" style="float:right" value="Login">
        </div>
        <div style="flex: 0 0 25%; float: left; padding-left:5%; padding-top:5%">
          <a [routerLink]="['/register']">Sign up?</a>
        </div>
      </div>

    </form>

  </div>

</div>